<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Sales Price</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Predict Sales Price</h1>
        <form action="/predict" method="post">
            <label for="manufacturer">Manufacturer:</label>
            <input type="text" id="manufacturer" name="manufacturer" required><br><br>
            
            <label for="model">Model:</label>
            <input type="text" id="model" name="model" required><br><br>
            
            <label for="engine_size">Engine Size:</label>
            <input type="number" id="engine_size" name="engine_size" step="any" required><br><br>
            
            <label for="fuel_efficiency">Fuel Efficiency:</label>
            <input type="number" id="fuel_efficiency" name="fuel_efficiency" step="any" required><br><br>
            
            <label for="vehicle_type">Vehicle Type:</label>
            <select id="vehicle_type" name="vehicle_type" required>
                <option value="SUV">Passenger</option>
                <option value="Sedan">Car</option>
            </select><br><br>
            
            <input type="submit" value="Predict">
        </form>
        
        <!-- {% if prediction_text %}
            <h2>{{ prediction_text }}</h2>
        {% endif %} -->
    </div>
</body>
</html>
